*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    direction:rtl;

    font-family:Tahoma,sans-serif;

    background:#0b1020;

    background-image:
    radial-gradient(circle at top,#1f2d4d,#0b1020 70%);

    color:#fff;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}

.overlay{

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle,rgba(255,255,255,.08) 1px,transparent 1px);

    background-size:45px 45px;

    opacity:.25;

}

.container{

    position:relative;

    z-index:2;

    width:90%;

    max-width:650px;

    text-align:center;

    padding:40px;

    border-radius:20px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(8px);

    border:1px solid rgba(255,255,255,.08);

}

.heart{

    font-size:42px;

    color:#ff4d6d;

    margin-bottom:20px;

}

h1{

    font-size:44px;

    margin-bottom:25px;

    font-weight:300;

}

.intro,
.intro2{

    line-height:2.2;

    font-size:21px;

    color:#
